---
layout: home
title: "Mein YouTube Video Index"
home_sidebar: true
---

Willkommen auf meinem Video-Archiv!

<!-- Dieser Code sucht nun direkt nach deinen Posts und baut das Grid ohne Plugin! -->
<div class="entries-grid">
  {% for post in site.posts %}
    <div class="list__item">
      <article class="archive__item" itemscope itemtype="https://schema.org">
        {% if post.header.teaser %}
          <div class="archive__item-teaser">
            <img src="{{ post.header.teaser | relative_url }}" alt="">
          </div>
        {% endif %}
        <h2 class="archive__item-title no_toc" itemprop="headline">
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
        </h2>
        <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {{ post.date | date: "%d.%m.%Y" }}</p>
      </article>
    </div>
  {% endfor %}
</div>
